@model Recurso

<h2>Detalhes do Recurso</h2>

<div class="card">
    <div class="card-body">
        <p class="card-text">
            <strong>Nome: </strong>@Model.Nome
        </p>
        <p class="card-text">
            <strong>Preço:</strong> @Model.Preco.ToString("C")
        </p>
        <p class="card-text">
            <strong>Quantidade:</strong> @Model.Quantidade @Model.UnidadeMedida
        </p>
        <p class="card-text">
            <strong>Tipo:</strong> @Model.Tipo
        </p>

        @if (Model.Tipo == "Maquinário")
        {
            <div>
                <p class="card-text">
                    <strong>Número de Série:</strong> @Model.NumeroSerie
                </p>
                <p class="card-text">
                    <strong>Data de Aquisição:</strong> @Model.DataAquisicao.ToShortDateString()
                </p>
                <p class="card-text">
                    <strong>Status:</strong> @Model.Status
                </p>
            </div>
        }

        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>