@model IEnumerable<Plantio>

<h1>Lista de Plantios</h1>

<p>
    <a asp-action="Criar">Criar Novo Plantio</a>
</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Data de Plantio</th>
        <th scope="col">Área de Plantio</th>
        <th scope="col">Produto-Final</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var plantio in Model)
    {
        <tr>
            <td scope="row">@plantio.Id</td>
            <td>@plantio.DataPlantio</td>
            <td>@plantio.AreaPlantio.Nome</td>
            <td>
                <a asp-action="Editar" asp-route-id="@plantio.Id">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@plantio.Id">Detalhes</a> |
                <a asp-action="Remover" asp-route-id="@plantio.Id">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>